/* Reset de estilos para garantir consistência entre navegadores */
body,
h1,
h2,
h3,
p,
img {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: whitesmoke;
    background: linear-gradient(to left, #686767, #000000);
    font-size: 16px; /* Tamanho base da fonte em pixels (px) */
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 28px; /* Tamanho maior para os títulos de primeira ordem */
}

h2 {
    font-size: 24px; /* Tamanho para os títulos de segunda ordem */
}

h3 {
    font-size: 20px; /* Tamanho para os títulos de terceira ordem */
}

p {
    font-size: 18px; /* Tamanho para os parágrafos */
}

header {
    font-family: Arial, sans-serif;
    color: whitesmoke;
    background: linear-gradient(to left, #4f2d2d, #000000);
    padding: 20px;
    text-align: center;
}

.logo {
    margin-bottom: 10px;
}

.logo img {
    max-width: 150px;
    height: auto;
}

.header-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.profile-picture {
    max-width: 150px;
    height: auto;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.personal-info {
    text-align: left;
    color: whitesmoke;
}

.personal-info h1 {
    margin: 0;
    font-size: 24px;
}

.personal-info p {
    margin: 5px 0;
}

nav {
    color: whitesmoke;
    padding: 10px;
    text-align: center;
    background: linear-gradient(to left, #4f2d2d, #000000);
}

nav a {
    color: whitesmoke;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
}

main {
    max-width: 80%; /* Ajusta o tamanho do conteúdo para cerca de 80% da largura */
    margin: 20px auto;
    padding: 20px;
}

section {
    margin-bottom: 5%;
    display: flex; /* Adicionando flexbox para alinhar os elementos verticalmente */
    flex-direction: column; /* Alinhar os elementos verticalmente */
    align-items:start; /* Centralizar os elementos horizontalmente */
}

section h2 {
    color: whitesmoke;
    border-bottom: 2px solid #555;
    padding-bottom: 5px;
}

section p {
    margin-top: 10px;
}

section img {
    display: block;
  
    height: auto;
    margin: 10px auto;
}

/* Estilos específicos para os vídeos do YouTube */
section#meus-videos {
    text-align: center;
}

.youtube-channel {
    margin-bottom: 30px;
}

.youtube-channel h3 {
    color: whitesmoke;
    border-bottom: 2px solid #555;
    padding-bottom: 5px;
    margin-top: 20px;
}

.youtube-channel iframe {
    max-width: 100%;
    height: auto;
    margin: 0 auto 10px;
}

footer {
    background-image: url('/fundorocha.jpg');
    color: whitesmoke;
    text-align: center;
    padding: 10px;
}

footer p {
    margin: 0;
}

#rochas {
    margin-top: 20%;
}

#equipamentos {
    margin-top: 20%;
}

#rochas img {
    max-width: 100%;
    height: auto;
}

#equipamentos img {
    max-width: 100%;
    height: auto;
}

/* Aumentar a largura das li */
ul {
   
    padding: 5px;
    align-items:start; /* Centralizar os elementos horizontalmente */
}

li {
   
    margin-top: 10%;

}
img{
    width: 400px;
    height:400px ;
   padding-top: 5%;
}
div{
    margin-top: 8%;
}